@import "./vars.module";

.main {
  display: flex;
  flex-direction: column;
  gap: $gap-xxl * 3;
}

@media (max-width: $max-width-lg) {
  .main {
    gap: $gap-xxl * 2;
  }
}

@media (max-width: $max-width-sm) {
  .main {
    gap: $gap-xxl * 1.5;
  }
}
