@import "../app/vars.module";

.grid {
  scroll-margin-top: $padding-xl;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr repeat(2, 1.5fr) repeat(2, 0.5fr) 2fr;
  grid-template-rows: 1.5fr repeat(3, 0.5fr);
  grid-template-areas:
    "about desc desc desc desc lang roles"
    "skills skills socials interests edu edu edu"
    "skills skills socials interests edu edu edu"
    "skills skills socials music edu edu edu";
  row-gap: $gap-lg;
  -moz-column-gap: $gap-md;
  column-gap: $gap-md;
  padding: 0 $padding-xl;
}

.grid_element {
  padding: $padding-md 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: $gap-sm;
  border-radius: $border-radius-md;
  &.solid {
    background: $secondary-background-color;
    @include border($border-width-sm, $secondary-background-color);
  }
  &.border {
    background: $primary-background-color;
    @include border($border-width-sm, $secondary-background-color);
  }
}

.grid_title {
  width: 100%;
  text-align: center;
  line-height: 1;
  padding: 0 $padding-sm;
  @include titleText($font-size-lg);
}

.category {
  width: 100%;
  font-size: $font-size-xs;
  color: $secondary-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap-sm;
  svg {
    height: $icon-size-sm;
    width: auto;
    color: $pink-accent-color;
  }
}

.title_container {
  position: relative;
  padding: 2vw;
  grid-area: about;
  min-width: 0;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  h2 {
    max-width: 100%;
    word-wrap: break-word;
    @include titleText($font-size-xxl, $primary-text-color, italic);
  }
  .title_container_copy {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    h2 {
      transform: translateX(2%) translateY(2%);
      @include titleStrokeText(
        $border-width-xs,
        $primary-background-color,
        $font-size-xxl,
        italic
      );
    }
  }
  .title_icon {
    position: absolute;
    height: auto;
    color: $secondary-background-color;
    z-index: -1;
    &_1 {
      width: 100%;
      top: -40%;
      right: -30%;
      transform: rotate(45deg);
    }
    &_2 {
      width: 70%;
      bottom: -30%;
      left: -20%;
    }
  }
  .gradient_circle {
    position: absolute;
    width: 50%;
    aspect-ratio: 1;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary-gradient;
    border-radius: $border-radius-full;
    z-index: -1;
  }
}

.description_container {
  grid-area: desc;
  padding-left: $padding-md;
  padding-right: $padding-md;
  background: $secondary-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap-md;
  .grid_title {
    text-align: start;
    padding: 0;
  }
  p {
    color: $secondary-text-color;
  }
}

.languages_container {
  grid-area: lang;
  flex-shrink: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $gap-md;
}

.language_container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  padding: $padding-sm;
  flex-grow: 1;
  border-radius: $border-radius-md;
  display: flex;
  justify-content: center;
  align-items: center;
  &.icon {
    background-color: $secondary-background-color;
    svg {
      width: 80%;
      height: auto;
    }
  }
  &.language {
    position: relative;
    overflow: hidden;
    @include border($border-width-xs, $secondary-background-color);
    @include titleText($font-size-md);
    &::before {
      content: "";
      background-image: url("/images/textures/subtle-dots.png");
      background-repeat: repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.2;
      z-index: -1;
    }
    .background_flags {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: $border-radius-md;
      overflow: hidden;
      font-family: "Noto Color Emoji", sans-serif;
      z-index: -1;
    }
    .background_flag {
      position: absolute;
      opacity: 0;
      transform: scale(0);
      transition: $transition-md;
      &_1 {
        top: 0;
        left: 0;
      }
      &_2 {
        top: 0;
        right: 0;
      }
      &_3 {
        bottom: 0;
        right: 0;
      }
      &_4 {
        bottom: 0;
        left: 0;
      }
    }
    &:hover {
      .background_flag {
        opacity: 1;
        &_1 {
          transform: scale(1) rotate(30deg);
        }
        &_2 {
          transform: scale(1) rotate(-30deg);
        }
        &_3 {
          transform: scale(1) rotate(30deg);
        }
        &_4 {
          transform: scale(1) rotate(-30deg);
        }
      }
    }
  }
}

.roles_container {
  grid-area: roles;
  justify-content: center;
}

.skills_container {
  grid-area: skills;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  background: $secondary-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .category {
    padding: 0 $padding-sm;
    z-index: 2;
  }
  .grid_title {
    padding: 0 $padding-sm;
  }
  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $border-radius-md;
    box-shadow: inset 0px 0px 2rem 2rem $primary-background-color;
    z-index: 1;
  }
}

.socials_container {
  padding-left: $padding-sm;
  padding-right: $padding-sm;
  grid-area: socials;
  display: flex;
  flex-direction: column;
}

.socials {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  padding-top: $gap-md;
}

.social {
  flex: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: $padding-xs $padding-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include border($border-width-sm, $secondary-background-color);
  border-radius: $border-radius-sm;
  font-size: $font-size-sm * 0.9;
  z-index: 0;
  transition: $transition-md;
  .title {
    display: flex;
    align-items: center;
    gap: $gap-sm;
    svg {
      height: $icon-size-xs;
      width: auto;
    }
  }
  &::before {
    content: "";
    background-image: url("/images/textures/subtle-dots.png");
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1;
  }
  & > svg {
    height: $icon-size-sm;
    width: auto;
    transform: rotate(-45deg);
    transition: $transition-md;
  }
  &:hover {
    background: $secondary-background-color;
    & > svg {
      transform: rotate(0deg);
    }
    &::before {
      content: none;
    }
  }
}

.interests_container {
  position: relative;
  grid-area: interests;
  background: $primary-text-color;
  font-size: $font-size-xl;
  color: $primary-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  h4 {
    word-break: break-word;
    text-align: center;
    cursor: default;
    pointer-events: none;
    @include titleText($font-size-xxl, $primary-background-color);
  }
}

.music_container {
  position: relative;
  grid-area: music;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: $font-size-sm * 0.9;
  z-index: 0;
  svg {
    height: $icon-size-sm;
    width: auto;
    color: $pink-accent-color;
  }
  &::before {
    content: "";
    background-image: url("/images/textures/stardust.png");
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
  }
}

.education_container {
  grid-area: edu;
  position: relative;
  justify-content: center;
  overflow: hidden;
  .grid_title {
    padding: 0 $padding-md;
  }
  .background_image {
    pointer-events: none;
    position: absolute;
    width: 150%;
    height: 150%;
    padding: $padding-sm;
    right: -50%;
    bottom: -50%;
    -o-object-fit: contain;
    object-fit: contain;
    opacity: 0.03;
  }
}

.education_info {
  padding: $padding-sm $padding-md $padding-sm;
  .university {
    font-size: $font-size-md;
  }
  .degree {
    color: $secondary-text-color;
    font-size: $font-size-sm;
    margin-top: $padding-xs;
  }
}

@media (max-width: $max-width-xl) {
  .grid {
    grid-template-columns: 2.5fr 1fr 1.5fr 1fr repeat(3, 0.5fr);
    grid-template-rows: 1fr 0.75fr 0.25fr 1.25fr;
    grid-template-areas:
      "about desc desc desc desc desc lang"
      "roles socials socials interests interests interests interests"
      "roles socials socials music music music music"
      "skills skills skills edu edu edu edu";
  }
}

@media (max-width: $max-width-lg) {
  .grid {
    padding: 0 $padding-lg;
  }
}

@media (max-width: $max-width-md) {
  .grid {
    padding: 0 $padding-md;
    display: flex;
    flex-wrap: wrap;
    gap: $gap-lg;
    > * {
      flex: 100%;
    }
  }

  .title_container {
    .gradient_circle {
      height: 80%;
      width: auto;
    }
  }

  .roles_container {
    flex: 70%;
  }

  .roles {
    .role {
      width: calc(100% - $padding-lg);
    }
  }

  .languages_container {
    flex: 10%;
  }

  .skills_container {
    width: 100%;
  }

  .socials_container {
    flex: 40%;
  }

  .interests_container {
    flex: 50%;
  }

  .interest {
    padding: $padding-sm;
  }

  .music_container {
    flex: 60%;
  }
}

@media (max-width: $max-width-sm) {
  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    > * {
      flex: unset;
    }
  }

  .grid_element {
    gap: $gap-md;
  }

  .roles_container {
    flex: unset;
  }

  .roles {
    .role {
      font-size: $font-size-sm;
    }
  }

  .languages_container {
    flex: unset;
    flex-direction: row;
  }

  .language_container {
    &.language {
      @include titleText($font-size-lg);
    }
  }

  .skills_container {
    width: 100%;
  }

  .socials_container {
    flex: unset;
  }

  .social {
    padding: $padding-sm $padding-sm;
    font-size: $font-size-sm;
    .title {
      gap: $gap-md;
      svg {
        height: $icon-size-sm;
      }
    }
  }

  .interests_container {
    flex: unset;
  }

  .music_container {
    flex: unset;
  }
}
