@import "../app/vars.module";

.button {
  position: relative;
  cursor: pointer;
  padding: $padding-sm $padding-md;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap-sm;
  font-weight: $font-weight-lg;
  line-height: 1.5;
  z-index: 0;

  svg {
    height: $icon-size-sm;
    width: auto;
    stroke-width: $border-width-md;
  }
}

.primary {
  overflow: hidden;
  color: $primary-background-color;
  background: $primary-text-color;
  border-radius: $border-radius-lg;
  -webkit-border-radius: $border-radius-lg;
  -moz-border-radius: $border-radius-lg;
  -ms-border-radius: $border-radius-lg;
  -o-border-radius: $border-radius-lg;

  .text_original {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap-sm;
    transform-style: preserve-3d;
  }

  .text_copy {
    visibility: hidden;
    position: absolute;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap-sm;
    transform-style: preserve-3d;
    transform: translateY(100%) rotateX(70deg);
  }
}

.secondary {
  padding: $padding-sm $padding-sm;
  font-weight: $font-weight-sm;
  svg {
    stroke-width: $border-width-sm;
  }
}

.gradient {
  color: $primary-background-color;
  border-radius: $border-radius-lg;
  -webkit-border-radius: $border-radius-lg;
  -moz-border-radius: $border-radius-lg;
  -ms-border-radius: $border-radius-lg;
  -o-border-radius: $border-radius-lg;
}
