@import "../app/vars.module";

.contacts_container {
  scroll-margin-top: $padding-xl;
  padding: 0 $padding-xl;
}

.form_container {
  margin-top: $gap-xxl;
  display: flex;
  gap: $gap-xxl;
}

.form_text {
  overflow-y: hidden;
  flex: 40%;
  color: $secondary-text-color;
  display: flex;
  gap: $gap-md;
  align-items: flex-start;
  svg {
    flex-shrink: 0;
    display: block;
    width: $icon-size-md;
    height: auto;
    color: $pink-accent-color;
  }
}

.contacts_form {
  flex: 50%;
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  &.message {
    grid-column: span 2;
  }
  label {
    display: flex;
    margin-left: $padding-md;
    align-items: center;
    gap: $gap-sm;
  }
}

.error_icon {
  visibility: hidden;
  opacity: 0;
  scale: 0.5;
  width: $icon-size-sm;
  height: $icon-size-sm;
  font-weight: $font-weight-xl;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $red;
  border-radius: $border-radius-full;
  transition: $transition-md;
}

.error {
  .error_icon {
    visibility: visible;
    opacity: 1;
    scale: 1;
  }
  .form_input {
    border-color: $red;
  }
}

.form_input {
  padding: $padding-sm $padding-md;
  border-radius: $border-radius-md;
  background: $primary-background-color;
  transition: $transition-md;
  @include border($border-width-sm, $secondary-background-color);
  &:focus,
  &:active {
    border-color: $primary-text-color !important;
    outline: none;
  }
}

.message .form_input {
  min-height: 10rem;
  height: 10rem;
  resize: none;
  overflow-y: hidden;
  box-sizing: border-box;
}

.contacts_form_button {
  padding-left: $padding-md;
  padding-right: $padding-md;
  font-size: $font-size-md;
}

.message_sent {
  position: fixed;
  left: 0;
  right: 0;
  bottom: $padding-md;
  margin: 0 auto;
  z-index: 2000;
}

@media (max-width: $max-width-lg) {
  .contacts_container {
    padding: 0 $padding-lg;
  }
  .form_container {
    gap: $gap-lg;
  }
}

@media (max-width: $max-width-md) {
  .contacts_container {
    padding: 0 $padding-md;
  }
  .form_container {
    flex-direction: column;
    gap: $gap-xl;
  }
  .form_text {
    flex: 100%;
  }
  .contacts_form {
    flex: 100%;
  }
}

@media (max-width: $max-width-sm) {
  .form_container {
    margin-top: $gap-xl;
  }
  .form_text {
    text-align: justify;
  }
}
