@import "@/app/_vars.module.scss";

.drag_container {
  // background-image: $primary-gradient;
  // padding: $padding-sm;
  padding: 0;
  border-radius: $border-radius-md;
  // @include shadowBorder($border-width-sm);
}

.drag_frame {
  width: 100%;
  height: 100%;
  padding: $padding-lg;
  // border-radius: $border-radius-md;
  // @include border($border-width-sm, $primary-background-color)
}

.drag_text {
  width: 100%;
  fill: $primary-background-color;
  /* stroke: black; */
  // stroke-width: $border-width-sm;
  overflow: visible;
  path {
    transform-origin: $padding-md center;
  }
}

@media (max-width: $max-width-md) {
  .drag_container {
    padding: $padding-md $padding-lg;
  } 
}
