@import "../app/vars.module";

.container {
  min-height: 100vh;
  padding: $padding-xl $padding-xl 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap-md;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: $padding-md;
}

.subtitle_container {
  margin-top: $padding-md;
  display: flex;
  align-items: center;
  gap: $gap-md;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  svg {
    width: $icon-size-md;
    height: $icon-size-md;
    color: $pink-accent-color;
  }
}

.subtitle {
  color: $secondary-text-color;
  font-weight: $font-weight-sm;
  font-size: $font-size-md;
}

.buttons {
  margin-top: $padding-xl;
  display: flex;
  align-items: center;
  gap: $gap-lg;
}

.figure {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: flex-end;
  .circle_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    .circle {
      margin: auto;
      position: relative;
      border-radius: $border-radius-full;
      max-width: 90%;
      width: auto;
      max-height: 90%;
      height: auto;
      aspect-ratio: 1;
      .hero_image {
        width: 100%;
        height: 100%;
      }
      .circle_shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -5%;
        bottom: 0;
        border-radius: $border-radius-full;
        border-left: $border-width-sm solid $primary-text-color;
      }
    }
  }
  .icons {
    .icon {
      position: absolute;
      height: auto;
      color: $primary-text-color;
      &_1 {
        width: 10%;
        bottom: 95%;
        right: 72%;
        transform: rotate(-10deg);
        z-index: -1;
      }
      &_2 {
        width: 10%;
        bottom: 85%;
        right: 85%;
        transform: rotate(-10deg);
      }
      &_3 {
        width: 15%;
        bottom: 70%;
        right: 92%;
        transform: rotate(-10deg);
      }
      &_4 {
        width: 10%;
        bottom: 60%;
        right: 105%;
        transform: rotate(10deg);
      }
      &_5 {
        width: 15%;
        bottom: 45%;
        right: 100%;
        transform: rotate(30deg);
      }
      &_6 {
        width: 10%;
        bottom: 30%;
        right: 100%;
        transform: rotate(-20deg);
        z-index: -1;
      }
      &_7 {
        width: 10%;
        bottom: 15%;
        right: 92%;
        transform: rotate(-30deg);
      }
      &_8 {
        width: 10%;
        bottom: 0;
        left: 10%;
        transform: rotate(20deg);
      }
      &_9 {
        width: 20%;
        bottom: -5%;
        left: 20%;
      }
    }
  }
  .tag {
    position: absolute;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: 40%;
    right: -($padding-lg);
  }
}

.qualities {
  position: absolute;
  width: 20%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 0;
  left: 0%;
  bottom: 0;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
  .quality {
    position: relative;
    padding: $padding-sm $padding-md;
    background: $primary-background-color;
    color: $secondary-text-color;
    border-radius: $border-radius-md;
    display: flex;
    justify-content: center;
    @include border($border-width-sm, $secondary-background-color);
    .icon {
      position: absolute;
      width: $icon-size-md;
      height: $icon-size-md;
      top: 0;
      left: -($icon-size-md / 2);
      bottom: 0;
      margin: auto 0;
      background: $secondary-background-color;
      border-radius: $border-radius-full;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: $icon-size-xs;
        height: $icon-size-xs;
      }
    }
    &:nth-child(2n) {
      transform: translateX(-10%);
    }
  }
}

.socials {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-md;
}

.studio {
  transform-origin: bottom right;
  width: 70%;
  // max-height: 50%;
  font-size: 0.65rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: $max-width-xl) {
  .studio {
    width: auto;
    max-width: 100%;
    height: 45%;
  }
}

@media (max-width: $max-width-lg) {
  .container {
    padding: $padding-xl $padding-lg 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap-xxl;
  }
  .text {
    flex: 1;
  }
  .buttons {
    margin-top: $padding-lg;
  }
  .figure {
    flex-direction: column;
    align-items: start;
    gap: $gap-xxl * 2;
    flex: 1;
    .socials {
      flex-direction: row;
      gap: $gap-lg;
    }
    .circle_container {
      position: static;
      height: 60vh;
      flex: unset;
      .circle {
        margin: auto;
        max-width: 70%;
      }
    }
  }
  .studio {
    max-width: 60%;
    bottom: -5%;
    font-size: 0.6rem;
  }
}

@media (max-width: $max-width-md) {
  .container {
    padding: $padding-xl * 1.25 $padding-md 0;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    gap: $gap-xxl;
  }
  .text {
    align-items: center;
    text-align: center;
  }
  .figure {
    align-items: center;
  }
  .studio {
    max-width: 500px;
    width: 100%;
    height: 40%;
    left: 0;
    margin: auto;
    aspect-ratio: unset;
    transform-origin: bottom center;
    font-size: 0.5em;
  }
}

@media (max-width: $max-width-sm) {
  .container {
    padding: 0 $padding-md 0;
    justify-content: center;
    gap: $gap-xxl;
  }
  .text {
    flex: unset;
    align-items: flex-start;
    text-align: start;
  }
  .buttons {
    width: 100%;
    flex-direction: column;
    button {
      width: 100%;
      font-size: $font-size-md;
    }
  }
  .figure {
    flex: unset;
    height: auto;
    .circle_container {
      display: none;
    }
  }
  .studio {
    display: none;
  }
}
