@import "../app/vars.module";

.link {
  width: $icon-size-xl;
  height: $icon-size-xl;
  color: $primary-text-color;
  background: $secondary-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-full;
  -webkit-border-radius: $border-radius-full;
  -moz-border-radius: $border-radius-full;
  -ms-border-radius: $border-radius-full;
  -o-border-radius: $border-radius-full;
  svg {
    width: $icon-size-sm;
    height: auto;
  }
}
