@import "@/app/_vars.module.scss";

.parallax_container {
  position: relative;
  height: 90svh;
  overflow: hidden;
  border-radius: $border-radius-md;
  background: $primary-background-color;
  @include border($border-width-sm, $secondary-background-color);
}

.parallax {
  position: absolute;
  top: -$padding-lg;
  left: -$padding-lg;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: $gap-lg;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

.parallax_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-lg;
}

.parallax_image {
  width: 25vw;
  height: auto;
  border-radius: $border-radius-md;
}

@media (max-width: $max-width-md) {
  .parallax_container {
    height: 50svh;
  }

  .parallax {
    top: -5svh;
    left: -15vw;
    gap: $gap-md;
  }
  .parallax_group {
    gap: $gap-md;
  }
  .parallax_image {
    width: 30vw;
  }
}

@media (max-width: $max-width-sm) {
  .parallax {
    top: -5svh;
    left: -15vw;
    gap: $gap-md;
  }
  .parallax_group {
    gap: $gap-md;
  }
  .parallax_image {
    width: auto;
    height: 40svh;
  }
}
