@import "../app/vars.module";

.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap-sm;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: $primary-text-color;
  padding: $padding-sm $padding-md;
  border-radius: $border-radius-lg;
  font-size: $font-size-xs;
  font-weight: $font-weight-md;
  background: $secondary-background-color;

  &.green {
    .circle {
      background: $cyan-gradient;
    }
  }

  &.red {
    .circle {
      background: $red;
    }
  }

  .circle {
    display: block;
    width: $icon-size-xs;
    height: $icon-size-xs;
    border-radius: $border-radius-full;
    @include shadowBorder();
  }
}
