@import "@/app/_vars.module.scss";

.project_container {
  min-height: 100svh;
  padding: $padding-xl 0 0;
}

.title_container {
  padding: 0 $padding-xl $padding-md;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: $gap-lg;
  flex-wrap: wrap-reverse;
  border-bottom: $border-width-sm dashed $secondary-background-color;
  .title {
    display: flex;
    align-items: last baseline;
    gap: $gap-sm;
    p {
      color: $secondary-text-color;
    }
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  gap: $gap-md;
  svg {
    width: $icon-size-md;
    height: $icon-size-md;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
}

.contents_container {
  margin-top: $padding-md;
  padding: 0 $padding-xl;
}

.info_container {
  margin-bottom: $gap-xxl;
  display: flex;
  flex-wrap: wrap;
  gap: $gap-xl;
  -moz-column-gap: $gap-xxl;
  column-gap: $gap-xxl;
}

.info_group {
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
  &.info_full {
    width: 100%;
  }
}

.info_label {
  visibility: hidden;
  font-size: $font-size-xs;
  font-weight: $font-weight-md;
  color: $secondary-text-color;
}

.info_field {
  visibility: hidden;
  font-size: $font-size-sm;
}

.tech_list {
  margin-top: $gap-sm;
  width: 100%;
  display: flex;
  align-items: center;
  gap: $gap-sm;
  flex-wrap: wrap;
  line-height: 1;
  .tech {
    padding: $padding-xs $padding-sm;
    font-size: $font-size-sm;
    color: $secondary-text-color;
    transform-origin: top left;
    border-radius: $border-radius-md;
    @include border($border-width-sm, $secondary-background-color);
  }
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
  margin: $gap-lg 0;
  border: 0;
  border-radius: $border-radius-md;
}

.images_container {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
}

.image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: $border-radius-md;
  @include border($border-width-sm, $secondary-background-color);
}

.drag {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: $gap-sm;
  margin: $gap-xxl 0 $gap-xl;
  p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: $padding-sm $padding-md;
    display: flex;
    align-items: center;
    gap: $gap-md;
    border-radius: $border-radius-lg;
    font-size: $font-size-lg;
    text-align: center;
    @include border($border-width-sm, $secondary-background-color);
  }
  svg {
    border-radius: $border-radius-full;
    padding: $padding-xs;
    height: $icon-size-lg;
    width: auto;
    stroke-width: $border-width-sm;
    @include border($border-width-sm, $secondary-background-color);
  }
}

.nav_buttons {
  width: 100%;
  margin: $gap-xxl 0 $gap-xxl * 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap-lg;
}

@media (max-width: $max-width-lg) {
  .title_container {
    padding: 0 $padding-lg $padding-md;
  }
  .contents_container {
    padding: 0 $padding-lg;
  }

  .nav_buttons {
    margin: $gap-xxl 0 $gap-xxl * 2;
  }
}

@media (max-width: $max-width-md) {
  .title_container {
    padding: 0 $padding-md $padding-md;
  }
  .contents_container {
    padding: 0 $padding-md;
  }
  .drag {
    p {
      width: 100%;
      justify-content: space-between;
      font-size: $font-size-md;
    }
  }
  .nav_buttons {
    flex-direction: column-reverse;
  }
}

@media (max-width: $max-width-sm) {
  .title_container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .tech_list {
    justify-content: center;
  }
  .info_container {
    gap: $gap-xl;
  }
  .info_group {
    flex-direction: column;
    gap: $gap-sm;
    text-align: center;
    width: 100%;
  }
  .info_label {
    width: 100%;
    font-weight: $font-weight-md;
    color: $secondary-text-color;
  }
  .info_field {
    font-size: $font-size-md;
  }
  .images_container {
    gap: $gap-md;
  }
  .drag_container {
    display: none;
  }
  .nav_buttons {
    margin: $gap-xl 0 $gap-xxl * 1.5;
  }
}
