@import "@/app/_vars.module.scss";

.skills_group {
  padding-top: $gap-lg;
  width: 100%;
  padding-bottom: $padding-sm;
  display: flex;
  gap: $gap-md;
  flex-direction: column;
  color: $primary-text-color;
  overflow-x: hidden;
}

.skills {
  white-space: nowrap;
  will-change: transform;
  div {
    cursor: default;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: $gap-sm;
    font-size: $font-size-md;
    padding: $padding-xs $padding-sm;
    margin: 0 $gap-sm;
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;
    border-radius: $border-radius-sm;
    background: $secondary-background-color;
    svg {
      height: $icon-size-xs;
      width: auto;
    }
    &:hover {
      opacity: 1;
    }
  }
}
